@using Humanizer
@model ServerViewModel

<!-- Main modal -->
<div id="backupCreateModal" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full space-y-2">
    <div class="relative p-4 w-full max-w-xl max-h-full space-y-2">
        <!-- Modal content -->
        <div class="relative bg-main-900 rounded-lg border border-main-800   p-4 md:p-6">
            <!-- Modal header -->
            <div class="flex items-center justify-between border-b border-default pb-4 md:pb-5">
                <h3 class="text-lg font-medium text-heading">
                   Create Backup 
                </h3>
                <button type="button" class="cursor-pointer" onclick="openCreateModal()" >
                    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/></svg>
                </button>
            </div>
            <!-- Modal body -->
            <form class="flex flex-col gap-1" asp-controller="Backup" asp-action="CreateBackup" method="post">
                <input type="hidden" name="serverName" value="@Model.ActiveServer.ServerName"/>
                <label class="my-2">Backup name</label>
                <input name="backupName" class="bg-main-800 rounded-lg p-2" type="text"/>
                <div class="flex items-center border-t border-default space-x-4 pt-4 md:pt-5">
                    <button type="submit" class="bg-brand p-2 px-4 m-2 rounded-lg cursor-pointer">Create</button>
                    <button type="button" class="bg-main-800 p-2 px-4 m-2 rounded-lg cursor-pointer" onclick="openCreateModal()">Close</button>
                </div>
            </form>
            
                    
        </div>
    </div>
</div>

<div class="bg-main-900 mx-auto w-full max-w-4xl flex m-2 mx-0 p-2 rounded-xl border border-main-800 overflow-hidden">
    <div class="flex justify-between w-full flex-col sm:flex-row space-y-1">
        <div class="flex">
            <img class="size-30 object-contain shrink-0" src="@Model.GetServerImagePath()">
            <div class="space-x-1 space-y-3">
                <select class=" bg-main-700 p-2 rounded-xl h-fit font-bold " name="serverId"
                        asp-items="@Model.GetServerSelectList()"
                        onchange="window.location.href='/Backup/Index?serverId=' + this.value">
                </select>
                <div class="flex items-center space-x-1">
                    <div class="rounded-[1000px] size-[10px] @(Model.ActiveServerStatus.StartsWith("Running")
                                                                 ? "bg-green-500"
                                                                 : Model.ActiveServerStatus.StartsWith("Paused")
                                                                     ? "bg-yellow-500"
                                                                     : "bg-red-500")">
                    </div>
                    <p class="@(Model.ActiveServerStatus.StartsWith("Running") ? "text-green-500" :
                              Model.ActiveServerStatus.StartsWith("Paused") ? "text-yellow-500" : "text-red-500")">
                        @Model.ActiveServerStatus</p>
                </div>
                <p class="text-main-200 text-md">Created @Model.ActiveServer.CreatedAt.ToString("dd.MM.yyyy")</p>
            </div>
        </div>
        <div class="flex gap-2 items-center m-2">
                <button class="flex p-2 px-4 bg-blue-600 rounded-lg cursor-pointer hover:bg-blue-500" type="button" onclick="openCreateModal()">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 16.5V9.75m0 0 3 3m-3-3-3 3M6.75 19.5a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"/>
                    </svg>
                    Backup
                </button>
        </div>
    </div>
</div>
<div class="mx-auto  w-full max-w-4xl flex sm:flex-col justify-between m-2 mx-0 p-2 gap-2">
    <div class="w-full p-2  bg-main-900 rounded-lg border border-main-800 flex items-center flex-col">
        <p class=" text-lg">Total backups</p>
        <p class="font-semibold text-xl">@Model.Backups.Count()</p>


    </div>
    <div class="w-full p-2 bg-main-900 rounded-lg border border-main-800 flex items-center flex-col">
        <p class="text-lg">Storage used</p>
        <p class="font-semibold text-xl">@(Model.Backups.Sum(b => b.Size) / 1000000)MB</p>
        
    </div>
    <div class="w-full p-2 bg-main-900 rounded-lg border border-main-800 flex items-center flex-col">
        <p class="text-lg">Last backup</p>
        <p class="font-semibold text-xl">@Model.Backups.Max(b => b.CreatedAt).Humanize()</p>
        
    </div>

</div>
<div class="mx-auto  w-full max-w-4xl bg-main-900 rounded-lg p-2">
    <h2 class="text-lg font-bold">Backups</h2>
    @foreach (var backup in Model.Backups)
    {
        <div class="bg-main-800 rounded-lg p-2 space-y-3 my-2">
            <div class="flex gap-2 items-center justify-between">
                <div class="flex space-x-5">
                    <p class="font-semibold font-lg">@backup.Name.Split(".")[0]</p>
                    <p class="">@backup.CreatedAt.Humanize()</p>
                </div>
                <div class="flex gap-2">
                    <form>
                        <button class="bg-blue-600 rounded-lg p-2 px-4 flex cursor-pointer hover:bg-blue-500" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9.75v6.75m0 0-3-3m3 3 3-3m-8.25 6a4.5 4.5 0 0 1-1.41-8.775 5.25 5.25 0 0 1 10.233-2.33 3 3 0 0 1 3.758 3.848A3.752 3.752 0 0 1 18 19.5H6.75Z"/>
                            </svg>
                            Restore
                        </button>

                    </form>
                    <form>
                        <button class="bg-red-600 rounded-lg p-2 px-4 flex cursor-pointer hover:bg-red-500" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 0 1 3.878.512.75.75 0 1 1-.256 1.478l-.209-.035-1.005 13.07a3 3 0 0 1-2.991 2.77H8.084a3 3 0 0 1-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 0 1-.256-1.478A48.567 48.567 0 0 1 7.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 0 1 3.369 0c1.603.051 2.815 1.387 2.815 2.951Zm-6.136-1.452a51.196 51.196 0 0 1 3.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 0 0-6 0v-.113c0-.794.609-1.428 1.364-1.452Zm-.355 5.945a.75.75 0 1 0-1.5.058l.347 9a.75.75 0 1 0 1.499-.058l-.346-9Zm5.48.058a.75.75 0 1 0-1.498-.058l-.347 9a.75.75 0 0 0 1.5.058l.345-9Z" clip-rule="evenodd"/>
                            </svg>
                            Delete
                        </button>

                    </form>
                    
                </div>
            </div>
            <p>Size @(backup.Size / 1000000)MB</p>

        </div>
        <div>
    </div>

            }
</div>
    <script>
        function openCreateModal() {
            const modal = document.getElementById("backupCreateModal")
            modal.classList.toggle('hidden');
            modal.classList.toggle('flex');
        }
        document.querySelectorAll('[data-modal-hide]').forEach(button => {
            button.addEventListener('click', () => {
                const modal = document.getElementById(button.dataset.modalHide);
                modal.classList.add('hidden');
                modal.classList.remove('flex');
            });
        });
    </script>

    
